body{
    font-family: 'Varela Round', sans-serif;
}

.home-display{
    display: flex;
    align-items: center;
}

.input-group{
    margin-bottom: 1em;
    background-color: #ea5167;
    border: 4px solid #472b29e7;
    border-radius: 10px;
    font-size: 1.7em;
    padding: 10px;
    color: #ffffff;
}

.btn-info,
.btn-danger{
    transition: 0.7s ease-in-out !important;
}

.btn-info:disabled,
.btn-danger:disabled{
    background: #ccc !important;
    border: #ccc !important;
}
.jumbotron{
    text-align: center;
    color: #472b29;
    background-color: #c7ede6;
}
#tabela-corpo tr{
    position: relative;
}

.table tr:nth-child(2n){
    background:#c7ede6;
}
.btn-view{
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0; 
}

.esconder{
    background-image: linear-gradient(to right, rgba(233, 212, 212, 0.473), rgb(184, 179, 179));
    color: transparent;
    border-radius: 10px;
}
.mostrar::after{
    content: " \1F381";
    animation: pulse 2s infinite;
}

.mostrar{
    background-image: transparent;
    color: #ea5167;
    border-radius: 10px;
}

@keyframes pulse{
    0% {
        color: rgb(0, 0, 0);
    }
    
    50% {
        color: transparent;
    }
    
    100% {
        color: rgb(0, 0, 0);

    }
}
